body{
    background-color: #f0f8ff;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevents scrolling */
}

 button{
    background-color: #432edf;
    width: 200px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    z-index: 8;
}